<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <h1>Welcome to my Portfolio!</h1>
    {% for project in projects %}
        {{project.description}} <br>
        <img src="{{project.image.url}}" alt="Cat with eyes" width="205" height="200"> <br>
    {% if project.url %}
        <a href="{{project.url}}">Link</a>
    {% endif %}
    {% endfor %}
</body>
</html>