<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body data-bs-theme="dark">

    {% extends 'webpage/plantilla.html' %}
    {% block content %}
        {% load static %}
        <div class="d-flex justify-content-center">
            <div class="align-content-center">
                <h2>Portfolio Web-Developer</h2>
                <p>Personal porjects and info about myself</p>
                <nav class="d-flex justify-content-center">
                    <a href="https://github.com/BdeBernal"><img src="{% static 'portfolioGenerate/github.png' %}" alt="Logo Github" style="width:20px; margin-right: 10px;"></a>
                    <a href="https://es.pinterest.com/"><img src="{% static 'portfolioGenerate/pinterest.png' %}" alt="Logo Pinterest" style="width:20px; margin-right: 10px;"></a>
                    <a href="https://www.infojobs.net/"><img src="{% static 'portfolioGenerate/infojobs.png' %}" alt="Logo Infojobs" style="width:20px; margin-right: 10px;"></a>
                </nav>
            </div>
            <img src="{% static 'portfolioGenerate/entrada.png' %}" alt="Entrada">
        </div>
        <br>
        <div class="d-flex justify-content-around">
            {% for project in projects %}
                <div class="card" style="width:400px">
                    <img class="card-img-top" style="height:150px;" src="{{project.image.url}}" alt="Cat with eyes">
                    <div class="card-body">
                        <p class="card-text">{{project.description}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <a href="{% url 'entrances:all_blogs' %}" class="d-flex justify-content-center" style="color:antiquewhite; text-decoration: none;">View All Blogs</a>
    {% endblock %}
</body>
</html>