Temario/prueba/#ib_16384_0.dblwr
Temario/EIE/PropuestasDeValor.odt
Temario/prueba/#ib_16384_1.dblwr
Temario/prueba/auto.cnf
Temario/prueba/binlog.000001
Temario/prueba/binlog.000002
Temario/prueba/binlog.index
Temario/prueba/ca.pem
Temario/prueba/ca-key.pem
Temario/prueba/client-cert.pem
Temario/prueba/client-key.pem
Temario/prueba/ibdata1
Temario/prueba/ib_buffer_pool
Temario/prueba/mysql.ibd
Temario/prueba/public_key.pem
Temario/prueba/server-key.pem
Temario/prueba/mysql.sock
Temario/prueba/private_key.pem
Temario/prueba/mysql_upgrade_history
Temario/prueba/server-cert.pem
Temario/prueba/undo_001
Temario/prueba/undo_002
