{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Thank You for Your Review!</h1>
    {% if review_data %}
        <ul>
            <li>Username: {{ review_data.username }}</li>
            <li>Password: {{ review_data.password }}</li>
            <li>City: {{ review_data.city }}</li>
            <li>Webserver: {{ review_data.webserver }}</li>
            <li>Role: {{ review_data.role }}</li>
            <li>Sign-on: {{ review_data.signon }} </li>
        </ul>
    {% else %}
        <p>No review data available.</p>
    {% endif %}
</body>
<!-- <body>
    {% if username %}
        <h1>Gracias, {{ username }}!</h1>
        <p>Ciudad: {{ city }}</p>
        <p>Contraseña: {{ password }}</p>
        <p>Servidor web: {{ webserver }}</p>
        <p>Rol: {{ role }}</p>
        <p>Sign-on: {{ signon }} </p>
    {% else %}
        <p>No se recibieron datos.</p>
    {% endif %}
</body> -->
</html>