<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'indexStyles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bibilioteca de Juegos de Mesa</h1>
    <div>
        <button><a href="{% url 'createBoardGame' %}">Crear Juego</a></button>
        <button><a href="{% url 'createBrand' %}">Crear Marca</a></button>
        <button><a href="{% url 'listBoardGames' %}">Listar Marcas</a></button>
        <button><a href="{% url 'allGames' %}">Listar Juegos</a></button>
    </div>
</body>
</html>