<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'indexStyles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>BoardGame Shelf</h1>
    <div>
        <button><a href="{% url 'createBoardGame' %}">Create new Game</a></button>
        <button><a href="{% url 'createBrand' %}">Create new Brand</a></button>
        <button><a href="{% url 'listBoardGames' %}">List Brands</a></button>
        <button><a href="{% url 'allGames' %}">List Games</a></button>
    </div>
</body>
</html>