body {
    background-color: #FEFAE0;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

h3 {
    color: #76883e;
}

p {
    color: #283618;
}

form {
    margin-top: 5%;
}

input[type="radio"] {
    margin: 10px 10px 10px 4px;
    width: 14px;
    height: 14px;
}

input[type="radio"]:checked {
    accent-color: rgb(129, 89, 89);
}

