#result{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    padding: 20px; 
    box-sizing: border-box; 
}

h3 {
    width: 100%;
    max-width: 500px; 
    background-color: #d1c3c3;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.18);
}

#links {
    display: flex;
    justify-content: center;
}

.destacado{
    font-size: 23px;
    font-weight: bold;
    color: #f5f7fa;
}

p{
    text-align: center;
    font-size: 20px;
    color: #333;
    margin: 10px 0;
    font-weight: bold;
}

.card {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;

}

#links div>a {
    display: inline-block;
    width: 100%;
    max-width: 170px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    background-image: url(images/Luna.png);
}

#links a:hover {
    filter: brightness(100%);
    color: #fff;
    transform: scale(1.25);
    transition: transform 0.3s ease;
}

body {
    background: rgb(180, 137, 137);
}