#loginBasico {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px; 
    box-sizing: border-box; 
}

form {
    width: 100%;
    max-width: 500px; 
    background-color: #c48e86;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(196, 142, 134, 0.3), 0 1px 3px rgb(196, 142, 134, 0.4);
}

body {
    background: linear-gradient(90deg, #000000 0%, #1f1e1e 25%, #363636 50%, #1f1e1e 75%, #000000 100%);
    animation: gradientBackground 15s ease infinite;
}

#loginBasico {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}