<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <img src="{{ post.imageName.url }}" alt="">
    <h2>{{ post.title }} | {{ post.date }}</h2>
    <h4>Excerpt: {{ post.excerpt }}</h4>
    <h4>Contenido: {{ post.content }} </h4>
    <p>Tags: 
        {% for tag in post.tag.all %}
            {{tag.caption}}
        {% endfor %}
    </p>
        <h3>Comments:</h3>
        {% for comment in post.comments.all %}
            <p><strong>{{ comment.name }}:</strong> {{ comment.com }}</p>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
        <form action="{% url 'add_comment' post.id %}" method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="com">Comment:</label>
            <textarea id="com" name="com" required></textarea> <br>
            <button type="submit">Add Comment</button>
        </form><br>
    </div>
    <address><a href="mailto: {{post.author.email}}">Author: {{post.author.firstName}} {{post.author.lastName}}</a></address>
    <a href="{% url 'index' %}" id="button">Inicio</a>
</body>
</html>