#cabeceira{
    color: yellow;
    background-color: black;
    width: auto;
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 10px;
}

#navegacion{
    color: green;
    background-color: grey;
    width: 20%;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
}

#contido{
    color: rgb(214, 148, 159);
    background-color: rgb(235, 226, 226);
    padding: 0 0 0 10px;
    width: 80%;
}

#pe{
    color: crimson;
    background-color: rgb(163, 158, 158);
    display: flex;
    justify-content: center;
}

#centro {
    display: flex;
    height: 400px;
    min-width: 100%;
}